#mediacover {
  background-color: #e0e4cc;
  text-align: center;
  padding: 50px 0 20px 0;
}
#mediacover .sechead h1 {
  font-size: 20px;
  font-weight: 400;
}
#mediacover img {
  width: 100px;
  padding: 10px;
  border-radius: 25px;
}

.mediacol {
  float: left;
  width: 20%;
  height: 150px;
}
#mediacover .inner:after {
  content: "";
  display: table;
  clear: both;
}
.sechead {
  text-align: center;
  color: red;
  margin-bottom: 50px;
}
.sechead h1 {
  font-weight: 300;
  font-size: 50px;
  color: #333333;
}
#testimonials {
  background-color: #ffffff;
  padding: 50px 0 20px 0;
}
#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}
.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}
.slide {
  float: left;
  height: 510px;
  width: 728px;
  text-align: center;
}
.slide img {
  width: 150px;
  height: 150px;
  margin: 30px;
  border-radius: 25px;
}
.slide blockquote {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}
.slide h3 {
  font-weight: 300;
  font-size: 30px;
  color: grey;
}
#mediacover {
  background-color: #e0e4cc;
  text-align: center;
  padding: 50px 0 20px 0;
}
#mediacover .sechead h1 {
  font-size: 20px;
  font-weight: 400;
}
#mediacover img {
  width: 100px;
  padding: 10px;
}
.mediacol {
  float: left;
  width: 20%;
  height: 150px;
}
#mediacover .inner:after {
  content: "";
  display: table;
  clear: both;
}

@-webkit-keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -728px;
  }
  50% {
    margin-left: -728px;
  }
  60% {
    margin-left: -1456px;
  }
  70% {
    margin-left: -1456px;
  }
  80% {
    margin-left: -2184px;
  }
  90% {
    margin-left: -2184px;
  }
}

#coveragearea {
  background-color: #ffffff;
  text-align: left;
  padding: 50px 0 50px 0;
}
#coveragearea .sechead h1 {
  color: #ffffff;
}

#coveragearea .sechead p {
  color: #333333;
}

#coveragearea img {
  width: calc(100% - 20px);
  padding: 10px;
}

.covercol a {
  text-align: center;
  line-height: 230px;
  font-size: 50px;
  font-weight: 700;
  text-shadow: #ffffff 5px 0 5px;
  color: #ffffff;
  text-decoration: none;
}

.covercol {
  float: left;
  width: calc(25% - 33px);
  height: 230px;
  background-color: #ffffff;
  margin: 15px;
}

#coveragearea .inner:after {
  content: "";
  display: table;
  clear: both;
}
#anbya {
  background: url(../assets/img/blood.jpg);
  background-size: cover;
}
.person-wrapper img {
  border-radius: 25px;
}
