.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Label{
  font-weight: bold
}

.overlay {
  position: fixed;/* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 99999; /* Specify a stack order in case you're using a different order for other elements */
}
.centercontent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemaligncenter{
  display: flex;
  align-items: center;
}
.justcontentcenter{
  display: flex;
  justify-content: center;
}
.justcontentleft{
  display: flex;
  justify-content: flex-start;
}
.justcontentright{
  display: flex;
  justify-content: flex-end;
}
.PointerKursor{
  cursor: pointer;
}
.fullheight{
  height: 100%;
}
.fullwidht{
  width: 100%;
}
.fullheightwidht{
  width: 100%;
  height: 100%;
}
.vh80{
  height: 90vh;
  width: 100%;
}
.padleft5em{
  padding-left: 10em;
}
.padright5em{
  padding-right: 10em;
}
.opacity08{
  background-color: 
  rgba(255, 255, 255, 0.8);
}
.opacity05{
  background-color: 
  rgba(255, 255, 255, 0.5);
}
.colorwhite{
  color: #ffffff;
}
.colorred{
  color: #EB3349;
}
.bgblooddonor{
  background: #EB3349;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}
.testcolor{
  color: #EB3349;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.myfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.nopad{
  padding: 0px;
}
.pad1em{
  padding: 1em;
}
.pad2em{
  padding: 2em;
}
.pad3em{
  padding: 3em;
}
.pad4em{
  padding: 4em;
}
.pad5em{
  padding: 5em;
}
.sectionpad{
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.nomrg{
  margin: 0em;
}
.mrgtopbtm1em{
  margin-top: 1em;
  margin-bottom: 1em;
}
.mrgbtm2em{
  margin-bottom: 2em;
}
.fixedtop{
  display: fixed;
  top:0px;
}
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  color: #000;
  background-color: #000;
}
.slickArrowLeft{
  position: absolute;
  top: 50%;
  left: 1%;
}
.slickArrowRight{
  position: absolute;
  top: 50%;
  right: 1%;
}
.bgtransparent{
  background-color: rgba(0,0,0,0.0);
}
.stickynavbar{
  position: fixed;
  top: 0;
  width: 100%;
}